#wrapper {
    background-color: yellow;
    margin: 5em; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 65%;
    }

.selectOption:hover {
    background-color: yellowgreen;
    
}